name: Public API Check

on:
  pull_request:
    branches:
      - master

# The follow workflow is from https://github.com/Enselic/cargo-public-api/blob/main/docs/CI-EXAMPLES.md

# The workflow may fail if we change the public API in a pull request.
# We allow fail on this action. But we should manually check if the changes are reasonable when we see a failed action.
# It would be good if the workflow returns a neutral status when we find API changes. But it is currently not
# possible with Github actions.
jobs:
  check-public-api-changes:
    runs-on: ubuntu-latest
    steps:
      # Full git history needed
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Install nightly (stable is already installed)
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal

      # Install and run cargo public-api and deny any API diff
      - run: cargo install cargo-public-api
      - run: cargo public-api > pr-api.txt
      - run: |
          git checkout ${GITHUB_BASE_REF}
          cargo public-api > trunk-api.txt
      - run: diff trunk-api.txt pr-api.txt
