name: Publish to crates.io

on:
  # Triggered when we tag a release (including a prerelease)
  release:
    types: [published]

jobs:
  cargo-publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy
          target: i686-unknown-linux-gnu
          # This overwrites the default toolchain with the toolchain specified above.
          override: true
      - name: Cargo login
        run: cargo login ${{ secrets.CI_CARGO_LOGIN }}
      - name: Publish sub crates
        run: |
          cargo publish --manifest-path=macros/Cargo.toml
      # Publish MMTk core.
      # As mmtk-core depends on the crate we just publish above, in practice there could be
      # a delay before we can find the exact version for the dependent crate on crates.io.
      # The script will retry publish for 5 times with 60 seconds between the retries.
      - name: Public mmtk-core
        run: |
          n=0
          until [ "$n" -ge 5 ]
          do
            echo "Attempt #"$n
            cargo publish && break
            n=$((n+1))
            echo "Wait for Retry #"$n
            sleep 60
          done
