name: Merge Check
on:
  pull_request:
    branches:
      - master
  merge_group:
    branches:
      - master

jobs:
  ready-to-merge:
    runs-on: ubuntu-latest
    steps:
      - name: 'Wait for status checks'
        id: waitforstatuschecks
        timeout-minutes: 120
        uses: "WyriHaximus/github-action-wait-for-status@v1.7.0"
        with:
          # Ignore some actions (based on what merge_group triggers):
          # - this action
          # - pre code review checks for stable Rust (we allow them to fail)
          # - binding tests (it may take long to run)
          ignoreActions: "ready-to-merge,check-public-api-changes,pre-code-review-checks/x86_64-unknown-linux-gnu/stable,pre-code-review-checks/i686-unknown-linux-gnu/stable,pre-code-review-checks/x86_64-apple-darwin/stable,v8-binding-test,openjdk-binding-test,jikesrvm-binding-test,julia-binding-test,ruby-binding-test (release),ruby-binding-test (debug)"
          # This action uses API. We have a quota of 1000 per hour.
          checkInterval: 600
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
