name: Pre Code Review Checks

on:
  pull_request:
    # branches:
    #   - master
    branches-ignore:
      - '**'

jobs:
  pre-code-review-checks:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2019-08-26
          components: rustfmt, clippy
          target: i686-unknown-linux-gnu
          # This overwrites the default toolchain with the toolchain specified above.
          override: true

      # Build
      - name: Build
        run: ./.github/scripts/ci-build.sh

      # Test
      - name: Test
        run: |
          sudo apt-get update
          sudo apt-get install libc6-dev-i386
          export RUSTUP_TOOLCHAIN=
          ./.github/scripts/ci-test.sh

      # Style checks
      - name: Style checks
        run: ./.github/scripts/ci-style.sh