name: Generate doc

# Triggerred when a new commit is pushed to master
on:
  push:
    branches:
      - master

jobs:
  publish-rustdoc-as-ghpages:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy
          target: i686-unknown-linux-gnu
          # This overwrites the default toolchain with the toolchain specified above.
          override: true
      - name: Append sha to crate version
        run: |
          sed -i 's/^version = "[0-9]\+.[0-9]\+.[0-9]\+/&-'${GITHUB_SHA}'/' Cargo.toml
      - name: Generate rustdoc
        run: ./.github/scripts/ci-doc.sh
      - name: Copy docs
        # docs/ is the root for github pages.
        # The generated docs are put to docs/ (i.e. root for github pages)
        # mmtk public doc: docs/public-doc
        # mmtk full doc: docs/full-doc
        # porting guide: docs/portingguide
        # tutorial: docs/tutorial
        run: |
          mkdir -p to_publish/docs
          cp -r target/mmtk-full/doc/* to_publish/docs/
          mv to_publish/docs/mmtk to_publish/docs/full-doc
          cp -r target/mmtk-public/doc/mmtk to_publish/docs/public-doc
          cp -r docs/portingguide/book to_publish/docs/portingguide
          cp -r docs/tutorial/book to_publish/docs/tutorial
      - name: Deploy to Github Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.CI_ACCESS_TOKEN }}
          publish_dir: to_publish
          publish_branch: gh-pages
          cname: docs.mmtk.io
